
 *{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.container{
	width: 100%;
	height: 100vh;
	background-color: #575fcf;
	margin: 0 auto;
}


.container header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 100px;
	background: #575fcf;
}


.container header .logo{
	color: #d2dae2;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	text-decoration: none;
}


.container header .logo a{
	color: #d2dae2;
	text-decoration: none;
	font-weight: 700;
}


.container header .logo a h1:after{
	content: "BOX";
	color: white;
	font-weight: 100;
}


.container header nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
}


.container header nav ul li{
	list-style: none;
	margin: 0 15px;
}


.container header nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
}




.container .hero-section{
	margin-top: 100px;
	text-align: center;
	color: white;
}


.container .hero-section h1{
	font-size: 60px;
	text-transform: uppercase;
}


.container .hero-section p{
	font-size: 30px;
	padding: 0 200px;
	margin: 20px auto;
	font-weight: 100;
}


.container .hero-section a{
	background: red;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 25px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	display: inline-block;
}

.service{
	width: 100%;
	height: 100vh;
}


section .service-1{
	display: flex;
	text-align: center;
	padding: 50px 100px;
}


section .service-1 .box-1{	
	width: 33.33%
	height: 200px;
	padding: 50px 20px;
}


section .service-1 .box-1 i{
	font-size: 50px;
	color: red;
	padding: 10px 0;
}


section .service-1 .box-1 h3{
	font-size: 20px;
	color: #576574;
	padding: 10px 0;
}


section .service-1 .box-1 p{
	font-size: 18px;
	line-height: 1.5em;
	color: #7f8c8d;
}





.photo{
	height: 100vh;
	text-align: center;
}


.photo-1{
	display: flex;
	width: 100%;
}


.photo .photo-1 .photo-box{
	width: 25%;
	height: 300px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
	background: red;
}


.photo .photo-1 .photo-box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
}

.photo .photo-1 .photo-box img:hover{
	opacity: 0.5;
	transform: scale(1.1);
}

.photo .photo-1 .photo-box .img-content{
	font-size: 20px;
	color: black;
	padding: 10px 0;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}

.photo .photo-1 .photo-box:hover .img-content{
	display: block;
}

.about{
	width: 100%;
	height: 100vh;
	display: flex;
	padding: 50px 100px;
}

.about .about-box{
	padding: 0 10px;
	width: 25%;
}

.about .about-box img{
	width: 100%;
	height: 100%;
}

.about .about-box h3{
	font-size: 35px;
	padding: 10px 15px;
}

.about .about-box h5{
	font-size: 35px;
	padding: 5px 15px;
	text-transform: uppercase;
}

.about .about-box p{
	padding: 20px 15px;
}


.icon{
	padding: 20px 15px;
}


.auto{
	width: 100%;
	height: 150vh;
	display: flex;
		padding: 300px 100px;

}

.auto-box{
	width: 50%;
}

.details{
		width: 50%;
		background: #d63031;
}

.auto img{
	width: 100%;
	height: 100%;
}

.details h3{
	font-size: 35px;
	padding: 10px 15px;
}

 .details h5{
	font-size: 35px;
	padding: 5px 15px;
	text-transform: uppercase;
}

.details p{
	padding: 20px 15px;
}                        


	
	
	


	






	
	







